@use "../abstracts" as *;

// navbar
nav.navbar {
    @include position($p: fixed, $l: 0, $t: 0, $z: 1000);
    width: 100%;
    background-color: #555;
    @include respond(350) {
        background-color: transparent;
    }
    @include respond(1050) {
        background-color: #555;
    }
    .container-fluid {
        width: 80%;
        @include respond(350) {
            width: 90%;
        }
        .navbar-brand {
            width: 5%;
            @include respond(350) {
                width: 17%;
            }
            @include respond(400) {
                width: 14%;
            }
            @include respond(450) {
                width: 13%;
            }
            @include respond(650) {
                width: 10%;
            }
            @include respond(850) {
                width: 8%;
            }
            @include respond(1050) {
                width: 6%;
            }
            @include respond(1250) {
                width: 5%;
            }
        }
    }

    // ul
    ul li a {
        color: white !important;
        letter-spacing: 2px;
        font-size: 16px;
        font-family: "roboto";
        font-weight: 500;
        &.active,
        &:hover {
            text-shadow:
                0px 0px 10px #2e0000,
                0px 0px 20px #2e0000,
                0px 0px 40px #2e0000,
                0px 0px 80px #2e0000;
            color: #2e0000 !important;
        }
    }
}

// icons nav
nav.icons {
    @include position($p: fixed, $l: 0, $b: 0, $z: 100);
    padding: 20px;
    width: 100%;
    background-color: #555;

    //ul
    ul {
        @include flex;
        @include respond(650) {
            justify-content: space-evenly;
        }
        flex-direction: row;
        li a {
            color: white;
            text-decoration: none;
            @include respond(450) {
                font-size: 20px;
            }
            &.active i,
            &:hover i {
                text-shadow:
                    0px 0px 20px #2e0000,
                    0px 0px 40px #2e0000,
                    0px 0px 60px #2e0000,
                    0px 0px 80px #2e0000;
                color: #2e0000 !important;
            }
        }
    }
}
